In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6"  color="red">ch02. 자료형과 연산자 </font></b>
# 1절. 변수
- 변수: 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장

In [ ]:
r = 5
area = 3.14 * r * r
print("넓이:",area)

In [ ]:
import numpy as np #numpy패키지를 np라는 이름으로 사용
#pypi.org
area = np.pi * r * r
print('넓이 : ', area)

In [ ]:
print('area의 주소:', id(area))
print('arwa의 타입:', type(area))

In [ ]:
area.is_integer()

In [ ]:
area = 10
print('area의 주소:', id(area))
print('arwa의 타입:', type(area))

In [ ]:
area = "파이썬"
print('area의 주소:', id(area))
print('arwa의 타입:', type(area))

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 외애는 불가), 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다. 꼭 써야한다면 str_식으로 사용한다.
- 파이썬 예약어(for, if,...)는 변수명 사용 불가
- 한글 변수는 꼭 필요시에만 사용

In [ ]:
이름 = '홍길동' #비추
print(이름)

In [ ]:
for = 5

In [ ]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"
print(member_name,memberName)

In [ ]:
# 숫자 : 정수, 실수, 복소수
i = 1 + 3j  #복소수
print(type(i))

In [ ]:
 isinstance(i, complex)  #변수가 complex  타입의 객체인지?

In [ ]:
isinstance(i, int) #i변수가 int타입의 갹체인지?

## 1.3 다중 변수 선언

In [ ]:
a =10
b= 20

In [ ]:
a,b = 10, 20
print(a,b)

In [ ]:
a, b = b, a+b  #다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a,b)


## 1.4 도움말

In [ ]:
help(print)

In [ ]:
help() # help 빠져나오기 : q /  결과접기/펴기: esc+o

In [ ]:
#도움말 기능 : shift + tab
print()

In [ ]:
def add(x,y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x*10 +y

In [ ]:
add(3,4)

In [ ]:
add(3)

# 2절. 화면 i/o

In [ ]:
#input() 사용자로부터 값을 입력받기 위한 함수, 입력값은 문자(str)로 받음
first = input()
print(first)

In [1]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?33
두번째 숫자는?22

In [ ]:
print('두 수의 합은',first+second)

In [ ]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

In [ ]:
print('두 수의 합은',first+second)

In [ ]:
print('first',first,'second',second, sep=' - ', end='\t')
print('Hello','Python',sep=' ')

# 3절. 기본 자료형
- 자료형 : 변수가 가져야할 값의 형식. 자료형에 따라 값의 크기와 저장 방식이 달라짐.
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐.

    * `숫자` : int, float(소수점 4.0), complex(허수부 j)
    * `문자` : str("", '')
    * `논리` : bool(True/False)
    
## 3.1 숫자형

In [ ]:
 import sys 
 print(sys.maxsize) # 정수의 최대값 : 2**63 -1

In [ ]:
2**63 -1

In [ ]:
i = sys.maxsize + 100000000000000000000000000
print(i)
print(type(i))

In [ ]:
# f=0.00000000000000000012
f = 1.2e-20 #지수형  1.2*10의 -20승
print(f)
b = 1.2e20 #지수형 1.2의 10의 20승
print(b)

In [ ]:
#파이썬에서는 /의 결과는 무조건 실수
f = 4/2
print('f=',f)

In [ ]:
# 자바나 C,C++처럼 정수/정수 결과를 정수로
f = int(3/2)  #int() : int로 형변화(내림)
print('f=',f)
f = 3//2 #몫연산자
print('f=',f)

## 3.2 문자형
겹따옴표("~")sk ghxEkdhavy('-')이용

In [ ]:
# name = '홍길동\'짱\''   #홍길동 '짱'
name = "홍길동'짱'"
address = '서울시 관악구 "신림"동'  # 서울시 관악구 "신림"동
print(name, address)

In [ ]:
# escape 문자(탈출문자) : \n \t
text = '여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면  됨\n줄바꿈'
print(text)

In [ ]:
text ='''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''
print(text)

### ※ 문자열 연산(+,*)

In [ ]:
'''
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 아무개
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

In [ ]:
print(name1 * 3)

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로를 표현 시 이용

In [ ]:
# raw데이터 : 데이터 처리시 이스케이프 문자(\n,\t,\',\")를 그대로 저장
print('Hello\nWorld')
print(r'Hello\nWorld')

정규표현식(regex)

    1. 참조 : https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D
    2. 간략문법
        \d (숫자와 매치. .[0-9]와 동일)
        \D (숫자가 아닌 것)
        \w (영문자나 숫자 .[A-Za-z0-9]와 동일)
        \W (영문자나 숫자가 아닌 문자)
        .  (문자)
        \. (.)
        \- (-)
        {2,} (2번 이상 반복)
        {2,4} (2~4회 반복)
        ?     (0번이나 1번 의미)
        +     (1번 이상 반복)
        *     (0번 이상 반복)
        # \d{2,3}[\-]?\d{3,4}[\-]?\d{3,4}
    3. 정규표현식 연습장 : https://regexr.com/
        ex1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999 / 02)999-9999
                        => 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
        ex2. 이메일   : abc12@naver.com / abc12@sns.co.kr
                        => \w+@\w+(\.\w+){1,2}
        ex3. 주민번호 : 981212-1052525
                        => (\d{2}0[1-9][0-3]\d\-[0-4]\d{6})|(\d{2}1[0-2][0-3]\d\-[0-4]\d{6})
    4. 소스 구현

In [ ]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

In [ ]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도로 raw 데이터 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) #해당 패턴을 다 찾아줌, 없으면 빈 list

In [ ]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
email = re.findall(email_pattern,data)

In [ ]:
# 정규표현식 패턴과 처음 match 되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [ ]:
print(data[18:29]) #문자열 슬라이스
print(firstTel.group(0))

In [ ]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [ ]:
print('전체 전화번호:', firstPhone.group(0))
print('국번:',firstPhone.group(1))
print('중간번호:',firstPhone.group(2))
print('끝번호:',firstPhone.group(3))

In [ ]:
# data에서 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", '', data)

In [ ]:
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern,'',data)

In [ ]:
#파일경로
file_path = r"C:\\ai\source\\01_python\\data\\ch02.txt"
file_path = r"C:/ai/source/01_python/data/ch02.txt"
file_path = r"C:\ai\source\01_python\data\ch02.txt"

In [ ]:
file_stream =open(file_path,"w")
print("Hello Python.","Hello,World", sep= "\n") #화면출력
print("Hello Python.","Hello,World", sep= "\n" , file=file_stream) #파일출력
file_stream.close() #close하지 않으면 저장안됨

### ※문자열 인덱싱

In [ ]:
str_ = '0123456789'
str_

In [ ]:
str_[0],str_[2],str_[-1],str_[-3] #음수인덱스는 맨 마지막이 -1

In [ ]:
str_[10] #없는 인덱싱은 에러

### ※문자열 슬라이싱

In [ ]:
'''
문자열 변수[from:to]:from부터 to앞까지 추출
문자열변수[from:to:step]:from부터 to앞까지 step씩 전진하면서 추출
    fro  생략시 처음부터
    to 생략시 끝까지
    step 생략시 1
    
'''
str_[0:3],str_[:3] #from 생력시 처음부터

In [ ]:
str_[5:10],str_[5:] #to 생략시 끝까지

In [ ]:
str_[-5:-1] #-5번째부터 -1번째까지

In [ ]:
str_[2:6]

In [ ]:
str_[0:10:2]

In [ ]:
str_[9:0:-1] #9번째부터 0번째까지 -1씩 전진 추출

In [ ]:
#quise :마지막글씨부터 처음글씨까지 거꾸로 출력해주세요 9876543210

In [ ]:
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

## 3.3 논리형(True/False)

In [ ]:
a= 10>5
print(a)
print(type(a))
print(isinstance(a,bool))

In [ ]:
int(True),int(False)

In [ ]:
bool(1),bool(0),bool(1000),bool(-10000),bool(),bool(""),bool("홍길동"),bool([])

In [ ]:
#false로 간주되는 것 : 0, ""-빈스트링,[]-빈리스트,()-빈튜플,{}-빈덕셔너리, None
#false로 판별되는 경우를 제외하고는 모두 True

In [ ]:
person = {'name':'홍길동','score':99}

In [ ]:
if None:
    print("True")
else:
    print("False")

In [ ]:
name = input("이름은?")
if name: #name이 빈스트링이 아니면
    print('당신 이름은',name)
else:
    print('이름을 입력 안하셨군요')

## 3.4 자료형 확인 및 형변환 함수
-type()
-isinstance(변수,타입): 변수가 해당 타입인지 여부
-float(): 실수형으로 변환
-int():   정수형으로 변환
-str():   문자형으로 변환
-bool():  논리형으로 변환

In [ ]:
 float(4),float("4.1"),int(4.9),int("4"),str(4),str(4.9)

In [ ]:
#에러나는 경우들
#int(""),int(" "),int(None),int("123.9"),int("5,000")
#float(""),float(" "),float(None)

# 4절. 포맷팅
-포맷팅이란 출력할 문자, 숫자,날짜 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [ ]:
name = "홍길동"
age = 30
print(name + '님의 나이는 ' + str(age) + '살입니다')
print(name,'님의 나이는 ',age,'살입니다', sep='')

In [ ]:
# %s:문자, %d:진수, %f:실수   
print("%s님의 나이는 %d살입니다"%(name,age)) #잘안쓰는 이전 방식
print(f"{name:>5s}님의 나이는 {age}살입니다")

In [ ]:
print("{}님의 나이는 {}살입니다.".format(name,age))
print("{0}님의 나이는 {1}살입니다.".format(name,age))
print("{1:>5s}님의 나이는 {0:$<3d}살입니다.".format(age,name))

## 4.2 format() 문법
- "{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수명)
    *인덱스 : format 함수안의 매개변수 순서
    *정렬방식: <(왼쪽정령) , >(오른쪽정렬) , ^(가운데정렬)
    *정수자릿수: 출력할 자릿수
    *실수자릿수: 전체츌력될 자릿수, 변수중에 출력할 자릿수 ex.10.2
    *타입 : d(10진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
    *공백대체문자는 정렬방식을 명시하여야함

In [ ]:
# 숫자의 경우 오른쪽 종렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자릿수를 지정하면 자릿수가 무시되고 다 출력(정수자릿수)
a = 12345
s = 'Hello'
print("[{0}][{0:10}][{0:3}]".format(a))
# print("[{}][{:10}][{:3}]".format(a)) 에러
print("[{0}][{0:10}][{0:3}]".format(s))

In [ ]:
# 정렬방식 : <,>,^
a,b,c = 10,20,3
print("[{:<4}][{:^4}][{:>4}]".format(a,b,c))

In [2]:
# 실수 자릿수 ex.10.2 : 전체 10자리 중 소수점 2자리/6.2 :6지리중 2자리 출력
a = 10
f = 12.5
s = "Hello"
print("[{:$>6.2f}][{:6.2f}][{:_>6.2}]".format(a,f,s))
#공백대체문자를 쓸 경우 반드시 정렬방식을 표현

[$10.00][ 12.50][____He]

In [3]:
#자리수 앞에 +를 붙이면 양수의 경우도 부호출력
#부호나 소수점도 자리수에 포함
a,b = 123, -123
print("[{:+10}],[{:+10}],[{:10}]".format(a,b,a))
print("[{:=10}],[{:=10}],[{:10}]".format(a,b,a))
print("[{:=+10}],[{:=+10}],[{:10}]".format(a,b,a))

[      +123],[      -123],[       123]
[       123],[-      123],[       123]
[+      123],[-      123],[       123]

In [ ]:
# 10진수, 8진수, 16진수, 2진수 출력
a= 15
print("10진수 [{:4d}]".format(a))
print("8 진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2 진수 [{:4b}]".format(a))

In [ ]:
a=2.785
sign1 = "+"
width1=10
precision1=4
#print("[{:+10.4f}]".format(a))
print("[{:{}{}.{}}]".format(a,sign,width,precision))
print("[{:{sign}{width}.{precision}}]".format(a,sign=sign1,width=width1,precision=precision1))

## 4.3 날짜 출력

In [ ]:
#import datetime  #datetime 모듈(파이썬 프로그램 파일  datetime.py) 전체를 메모리 Load
#datetime.__file__
from datetime import datetime # datatime  모듈안의 datetime 만 메모리 Load
thatday1 = datetime(2025,9,11) # 25년 9월 11일 0시 0분 0초
# thatday2 = "25년 9월 11일 9시 30분" # ""는 문자형식. 문자는 연산이 안됨
thatday2 = datetime(2025,9,11,14,30,0)
thatday1

In [ ]:
# Y(년도 4자리), y(년도 2자리), m(월), d(일) p(am/pm) I(12시간) H(24시간)  M(분) S(초)
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

In [ ]:
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

In [ ]:
thatday2.strftime(":%y년 %m월 %d일 %p %I시 %M분 %S초")

In [ ]:
# 현재의 날짜와 시간
#datetime(2025,9,11,14,30)  특정한 날짜와 시간
now=datetime.now()  #지금
now - thatday1  #날짜형 변수끼리 연산가능

In [ ]:
# 지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

In [ ]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")