In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6"  color="red">ch03. 데이터 구조 </font></b>
- 리스트[80,20], 튜플(90,20),딕셔너리{"name":"홍","score":99},셋{10,20}

# 1절. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러 개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) :부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [ ]:
fruit='banana'
fruits=['banana','apple','orange','grape']
type(fruits)

In [ ]:
print(fruits)
print(fruits[2]) # 인덱싱을 이용한 읽기
# print(fruits[4]) #없는 인덱싱시 에러

In [ ]:
fruits[0]='mango' #인덱싱을 이용한 쓰기
print(fruits)

In [ ]:
fruits=['mango','apple','orange']
x,y,z=['mango','apple','orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

In [ ]:
#range(from,to,by) : from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
    #숫자를 순차적으로 사용할 수 있게
    #from 생력시 0,by생략시 1
range(0,10,1)
range(10) #[0,1,2,3,4,5,6,7,8,9]

In [ ]:
list(range(10))

In [ ]:
list(range(10,-1,-2))

In [ ]:
for i in [0,1,2]:
    print(i)

In [ ]:
for i in range(3):
    print(i)

In [ ]:
fruits=['mango', 'apple', 'orange']
# print("{}번째 과일은 {} ".format(0,fruits[0]))
# print("{}번째 과일은 {} ".format(1,fruits[1]))
# print("{}번째 과일은 {} ".format(2,fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일은 {} ".format(idx,fruits[idx]))

### *enumerate 활용

In [ ]:
list(enumerate(fruits))

In [ ]:
# for index,value in enumerate(fruits):
#       print(f"{index}번째 과일은 {value}")
# for i,fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
#     print(f"{i}번째 과일은 {fruit}")
for i,fruit in enumerate(fruits):
      print(f"{i}번째 과일은 {fruit}")

In [ ]:
# 몇번째를 알 필요 없을 때
for x in fruits: #['mango', 'apple', 'orange']
    print(f"{x}입니다")

In [ ]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers=[0,True,"2",[2,3],[4,5,6]]
numbers[2],numbers[4][1]

In [ ]:
#2차원 리스트
numbers=[1,2,3,4,5]
         #0열 1열 2열 3열 4열
numbers_2d=[[1,2,3,4,5],         #0행
            [10,20,30,40,50],    #1행
            [1,3,5,7,9],         #2행
            [2,4,6,8,10]]        #3행
print(numbers_2d)

In [ ]:
numbers_2d[1][4]
print(numbers_2d[1][4])
# numbers_2d[1,4]  : 에러

In [ ]:
len(numbers_2d),len(numbers_2d[3])

In [ ]:

for row in numbers_2d:
    for item in row:
        print(item,end='\t')
    print()  # end='\n'

In [ ]:
for i in range(len(numbers_2d)): #i:행
    for j in range(len(numbers_2d[i])): #j:열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}",end="\t")
    print()

In [ ]:
list(enumerate(numbers_2d)),list(enumerate(numbers_2d[0]))

In [ ]:
#for 데이터변수 in enumerate(numbers_2d):
for i,row in enumerate(numbers_2d):
    for j,item in enumerate(numbers_2d[i]):
        print("{}행{}열:{}".format(i,j,numbers_2d[i][j]),end="\t")
    print()

In [ ]:
len(numbers_2d),len(numbers_2d[0]),len(numbers_2d[1]),len(numbers_2d[2])

In [ ]:
numbers_2d_v=[[1,2,3],[10,20,30,40],[1,3,5,7,9],[2,4,6,8,10,12]]

## 1.2 기본 정보 조회

In [ ]:
numbers=[1,12,3,4,5]
numbers_2d=[[100,0,1,],
           [9,100,100],
           [59,100,130]]

In [ ]:
#item수
len(numbers),len(numbers_2d)

In [ ]:
#최소값, 최대값
#2차원 list의 최소/최대값: 부분 리스트 중 첫요소가 가장 작은값/큰값
min(numbers),min(numbers_2d), max(numbers),max(numbers_2d)

In [ ]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max적용
fruits=['mango','apple','orange']
min(fruits),max(fruits)

###  *정렬하기

In [ ]:
# 정렬하기 (동일한 type일때)
numbers=[1,12,3,4,5]
print("오름차순 정렬:",sorted(numbers))
print("내림차순 정렬:",sorted(numbers,reverse=True))
print("합 :",sum(numbers))
print("평균 :",sum(numbers)/len(numbers)) 
print("sorted함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

## 1.3 요소추가
- '+' :  두 리스트 연결
- '*' : 리스트를 곱한 수만큼 반복
- 'append()' : 요소 맨 뒤에 추가
- 'extend(리스트)' : 리스트를 요소별로 맨 뒤에 추가
- 'insert(idx,값)' : idx번째 인덱스 위치에 값 추가

In [ ]:
numbers=[1,2,3]
numbers=numbers+numbers #리스트 연결
numbers

In [ ]:
numbers=[1,2,3]
print(numbers*3) #곱한수만큼 반복
print(3*numbers)

In [ ]:
numbers.append(4) #맨 뒤에 4추가
print(numbers)

In [ ]:
numbers.append([5,6,7]) # 맨 뒤 요소에 [5,6,7] 추가
print(numbers)

In [ ]:
numbers=[1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4,5,6 각각 추가
numbers

In [ ]:
lst=['a','b','c']
lst.append('d')
lst

In [ ]:
lst.append('hello')
lst

In [ ]:
lst.extend('hello')
lst

In [ ]:
numbers=[1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx'추가
numbers

## 1.4 인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 착을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in 변수 : 찾을 데이터가 리스트 변수의 요소 인지 여부
- count(찾을데이터) : list에서 해당 찾을 데이터의 갯수 반환

In [ ]:
numbers=[1,2,3,[1,2,3],1,2,3]
numbers.count(2),numbers.count([1,2,3])

In [ ]:
numbers.count(5)

In [ ]:
print(2 in numbers) #2가 numbers의 요소인지 여부
print(5 in numbers)

In [ ]:
numbers.index(5)

In [ ]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

In [ ]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

### *안전한 index사용자함수

In [ ]:
def safe_index(lst,item):
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환. item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [ ]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 load
numbers=[1,2,3]
safe_index(numbers,5),safe_index(numbers,2)

In [ ]:
numbers[5] # 벗어난 인덱스로 인덱싱 시 에러

In [ ]:
numbers[2:5],numbers[4:5]  #벗어난 인덱스로 슬라이싱 시 에러가 안남.

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 
    - [from:to:step]  from번째부터 to앞까지 step씩 증가하는 index값을 추출
        *from 생력시 처음, to생력시 끝, step 생략 시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
    
2. <font color="red">**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [ ]:
numbers=[1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1]) #꺼꾸로 출력
print(numbers[0::2]) # 짝수 index값 출력
print(numbers[2:100]) #인덱스를 벗어난 슬라이싱 가능

### * 리스트컴프리헨션

In [ ]:
# 모든 데이터 출력
numbers=[1,3,5,9,10,12,13,18,19,20]
# for data in numbers:
#     print(data,end="\t")
[data for data in numbers]

In [ ]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data,end=" ")

[data for data in numbers if data%2==0]

### * [연습문제] 리스트컴프리헨션

In [ ]:
# ex1. numbers애서 10이상인 요소만 추출
[data for data in numbers if data>=10]

In [ ]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits=['orange','apple','mango','kiwi']
[item for item in fruits if len(item)>=5]

In [ ]:
# ex2-1.  fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits ]

In [ ]:
# ex3. 3이상인 요소들의 제곱을 추출 
L=[1,2,3,4,5]
[data**2 for data in L if data>=3]

In [ ]:
# ex4. 리스트(L) 요소의 값의 2배를 추출
[item*2 for item in L ]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [3]:
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2]=['xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# 슬라이싱(step부분 포함)
numbers=[0]*10
print('수정전:',numbers)
numbers[0::2]=[9,9,9,9,9]
print('수정후:',numbers)

수정전: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후: [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [6]:
numbers[::2]=[1,1] # 갯수가 5개 이어야 함

ValueError: attempt to assign sequence of size 2 to extended slice of size 8

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx째 요소가 반환되고 삭제
- remove(data) :list안의 data가 삭제
- del  리스트변수[idx] :idx번째 요소가 삭제

In [20]:
numbers=[1,2,3,4,5]
print("삭제한 데이터:",numbers.pop())
print("삭제 후 numbers:",numbers)
print("1번째 삭제한 데이터:",numbers.pop(1))
print("1번째 삭제 후 numbers:",numbers)
#print("데이터1삭제",numbers.remove(1))
print("데이터 1 삭제")
# numbers.remove(9)  없는 것 확인 후
numbers.remove(1)
print("데이터 1 삭제후 number:",numbers)
del numbers[1]
print(numbers)

삭제한 데이터: 5
삭제 후 numbers: [1, 2, 3, 4]
1번째 삭제한 데이터: 2
1번째 삭제 후 numbers: [1, 3, 4]
데이터 1 삭제
데이터 1 삭제후 number: [3, 4]
[3]

###  *remove는 체크 필요

In [22]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

In [24]:
numbers.clear() # 모든 요소를 삭제  / numbers를 삭제하는게 아니라 numbers 안의 요소를 전부 삭제
numbers

[]

## 1.8 정렬하기

In [25]:
numbers=[9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬결과 : ", sorted(numbers))
print("numbers :",numbers)

numbers는 변경하지 않고, 정렬결과 :  [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [26]:
numbers.sort()  #numbers 자체가 오름차순 정렬한 결과로 바뀜
numbers

[0, 5, 6, 8, 9]

In [27]:
numbers.sort(reverse=True)  #numbers 자체가 내림차순 정렬한 결과로 바뀜
numbers

[9, 8, 6, 5, 0]

In [29]:
numbers.reverse() #리스트를 역순으로 변경
# numbers=numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트복제

In [34]:
# 스칼라 데이터의 복제
i = 10
copied_i=i
print(f"원본i = {i}, 복사본copied_i={copied_i} / 원본주소={id(i)}, 복사본주소={id(copied_i)}")
copied_i=99
print(f"원본i = {i}, 복사본copied_i={copied_i} / 원본주소={id(i)}, 복사본주소={id(copied_i)}")

원본i = 10, 복사본copied_i=10 / 원본주소=2882712306192, 복사본주소=2882712306192
원본i = 10, 복사본copied_i=99 / 원본주소=2882712306192, 복사본주소=2882712309040

In [44]:
# 데이터 구조의 복제
# 할당
numbers = [5,6,1,9]
print('원본내용                  : ',numbers)
new_numbers = numbers #할당
print('원본주소                  : ',id(numbers))
print('복제본주소                : ',id(new_numbers))
new_numbers[0]=99
print('복제본 변경 후,원본내용   : ',numbers)
print('복제본 변경 후,복제본내용 : ',new_numbers)
print('원본주소                  : ',id(numbers))
print('복제본주소                : ',id(new_numbers))

원본내용                  :  [5, 6, 1, 9]
원본주소                  :  2882835507008
복제본주소                :  2882835507008
복제본 변경 후,원본내용   :  [99, 6, 1, 9]
복제본 변경 후,복제본내용 :  [99, 6, 1, 9]
원본주소                  :  2882835507008
복제본주소                :  2882835507008

In [43]:
#할당
numbers=[5,6,1,9]
print('원본내용                  : ',numbers)
new_numbers=numbers
print('원본주소                  : ',id(numbers))
print('복제본주소                : ',id(new_numbers))
new_numbers.sort()
print('복제본 변경 후,원본내용   : ',numbers)
print('복제본 변경 후,복제본내용 : ',new_numbers)
print('원본주소                  : ',id(numbers))
print('복제본주소                : ',id(new_numbers))

원본내용                  :  [5, 6, 1, 9]
원본주소                  :  2882828297856
복제본주소                :  2882828297856
복제본 변경 후,원본내용   :  [1, 5, 6, 9]
복제본 변경 후,복제본내용 :  [1, 5, 6, 9]
원본주소                  :  2882828297856
복제본주소                :  2882828297856


### <b><font   color="red"> *스칼라복제 이외는 할당이 아니라 복제를 해야함 / copy()사용 / <font   color="blue">numbers.copy()</font></b>

In [46]:
#리스트 복제(깊은 복사)
numbers=[5,6,1,9]
print('원본내용                  : ',numbers)
new_numbers=numbers.copy()       # numbers를 복제(깊은 복사)

print('원본주소                  : ',id(numbers))
print('복제본주소                : ',id(new_numbers))
new_numbers.sort(reverse=True)   #내림차순 정렬
print('복제본 변경 후,원본내용   : ',numbers)
print('복제본 변경 후,복제본내용 : ',new_numbers)
print('원본주소                  : ',id(numbers))
print('복제본주소                : ',id(new_numbers))

원본내용                  :  [5, 6, 1, 9]
원본주소                  :  2882827348160
복제본주소                :  2882828493184
복제본 변경 후,원본내용   :  [5, 6, 1, 9]
복제본 변경 후,복제본내용 :  [9, 6, 5, 1]
원본주소                  :  2882827348160
복제본주소                :  2882828493184

In [48]:
city=['서울','대전','대구','부산','하남','수원','제주']
temp=city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [49]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서는 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- ()이용해서 생성

In [52]:
# city=('서울','대전','대구','부산','하남')
#파이썬은 여러개의 값이 전달될때 튜플 타입으로 전달
city='서울','대전','대구','부산','하남'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [53]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 
", ".join(city)

'서울, 대전, 대구, 부산, 하남'

In [54]:
from lst import safe_index
safe_index(city,'대전')

1

In [57]:
l=['서울']  #요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [60]:
city=('서울')  #요소가 하나 있는 튜플(x) -> str
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

### *요소가 하나 있는 튜플

In [62]:
city=('서울',)  #요소가 하나 있는 튜플(o) 
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [61]:
city=('서울','하남')  #요소가 둘  이상있는 튜플
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [63]:
numbers=(1,2,3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [64]:
min(numbers),max(numbers),sum(numbers)

(1, 3, 6)

In [65]:
numbers.count(2)

1

In [66]:
numbers.index(3)

2

In [68]:
#numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당하는 데이터 없음')

해당하는 데이터 없음

In [69]:
safe_index(numbers,4)

-1