In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6"  color="red">ch05.함수 </font></b>
- 반복해서 사용할 코드를 묶어놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1,매개변수2,...]) :
    명령어1
    명령어2.....
```

# 1절 함수의 정의 및 사용
## 1.1 함수정의

In [2]:
def my_message(x,msg) : #msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i,msg)

In [3]:
#함수 사용 ==함수 호출
my_message(3,'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg=my_message
my_message(2,'Hello')
my_msg(3,'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_message),type(my_message)

(function, function)

In [6]:
print('Hello') #파이썬 내장 함수(impport하지 않고 사용할 수 있는 함수)
print=5
print('Hello')

Hello

TypeError: 'int' object is not callable

In [7]:
del print
print('Hello')

Hello

In [8]:
my_message(2,'Hello')

0 Hello
1 Hello

In [9]:
my_message=5
my_msg(2,'Hello')

0 Hello
1 Hello

In [10]:
my_message(2,'Hello')

TypeError: 'int' object is not callable

In [11]:
del my_message 
my_message(2,'Hello')  # 변수 및 함수 제거하여도 사용자 정의 함수, 라이브러리 함수는 del하여도 사용불가

NameError: name 'my_message' is not defined

In [12]:
# 함수 중복 정의 불가(오버로딩 불가)
def  my_hello():
    print('Hello Python')
    print('Hello world')
def my_hello(cnt): #cnt번 출력
    for i in range(cnt):
            print('Hello, Python',end='\t')
            print('Hello,World')
# 파이썬은 오버로딩이 되지 않음. 중복 정의가 안됨.

In [13]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [14]:
my_hello(2)

Hello, Python	Hello,World
Hello, Python	Hello,World

In [15]:
my_hello

In [16]:
__name__

'__main__'

In [17]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python	Hello,World
Hello, Python	Hello,World

In [18]:
import ch05 #ch05모듈이 해석되서 메모리 로드

In [19]:
ch05.my_hello(3)

ch05
Hello, Python	Hello,World
Hello, Python	Hello,World
Hello, Python	Hello,World

In [20]:
from ch05 import my_hello #ch05 모듈 안에 my_hello만 메모리로드

In [21]:
my_hello(3)

ch05
Hello, Python	Hello,World
Hello, Python	Hello,World
Hello, Python	Hello,World

## 1.2 docstring

In [22]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수호출시 shift+tab으로 독스트링을 볼 수 있음)
    """
    pass

In [23]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수호출시 shift+tab으로 독스트링을 볼 수 있음)

### *fibonacci 피보나치함수

In [24]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 :0 1 1 2 3 5 8
        n=100:0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a,b=0,1  # 함수 내에 선언한 변수 : 지역변수(반:전역변수)
    while a<n:
        print(a,end=' ')
        a,b = b,a+b
    print() #개행

In [25]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [26]:
a,b #지역변수는 함수 내에서만 사용가능

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [27]:
global_var=100
def func1():
    print('함수안 :',global_var)
func1()
print('함수밖 :',global_var)

함수안 : 100
함수밖 : 100

In [28]:
def func2():
    local_var=200 #지역변수(함수 내에서 할당)
    print('함수안 :',local_var)
func2()

함수안 : 200

In [29]:
# print('함수밖에서 지역변수 :',local_var) #에러

In [30]:
g_var=100 #전역변수
def func3():
    g_var=200 # 지역변수 (함수 내에서 할당)
    print('지역변수 g_var :',g_var)
func3()
print('전역변수 g_var :',g_var)

지역변수 g_var : 200
전역변수 g_var : 100

### *렉시컬 스코프 (Lexical Scope): 
- 변수의 유효 범위가 코드가 작성된 위치에 의해 결정되는 방식입니다. 
- 파이썬은 렉시컬 스코프를 따릅니다. 즉, 어떤 변수를 어디서 정의했는지에 따라 그 변수를 어디서 사용할 수 있는지가 결정됩니다.

In [31]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해짐(지역vs전역)
g_var=100 #전역변수
def func3():
    print('지역변수 g_var :',g_var)
    g_var=200 # 지역변수 (함수 내에서 할당)
func3()
print('전역변수 g_var :',g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [32]:
#렉시컬 특성
g_var=100 #전역변수
def func3():
    global g_var # 함수 내에서의 g_var는 전역변수를 쓰겠다
    global g_var1
    print('전역변수 g_var :', g_var)
    g_var=200 # 전역변수 g_var에 200할당
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출(Call by Value)
- 함수에 인수로 전달되는 변수가 스칼라변수(문자,숫자,논리형)일 때
- **변경 불가능(Immutable) 객체: 정수(int), 실수(float), 문자열(str), 튜플(tuple), frozenset 등

In [33]:
foo = 'a' #전역변수
id(foo)

2964941596592

In [34]:
def func1(f): #매개변수는 지역변수 
    print('Before :',f,'의 주소는 ',id(f))
    f = f*3
    print('After :',f,'의 주소는 ',id(f))
func1(foo)

Before : a 의 주소는  2964941596592
After : aaa 의 주소는  2965049408880

In [35]:
print('foo = ',foo,'의 주소는 ',id(foo))

foo =  a 의 주소는  2964941596592

## 1.5 참조에 의한 호출(Call by Reference)
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기차 객체일 경우
- **변경 가능(Mutable) 객체: 리스트(list), 딕셔너리(dict), 셋(set), 사용자 정의 객체 등

In [36]:
L=[1,2,3,4,5]
id(L)

2965049615360

In [37]:
def func2(f): #매개변수는 지역변수
    print('Before :',f,'의 주소는 ',id(f))
    f.append(6)
    print('After :',f,'의 주소는 ',id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2965049615360
After : [1, 2, 3, 4, 5, 6] 의 주소는  2965049615360

In [38]:
print('L=', L,'의 주소는',id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 2965049615360

# 2절. 함수의 실행결과를 반환하는 return

### ** return있는 피보나치 수열 출력함수

In [39]:
def fibonacci_print(n):
    '매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수'
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ') # 출력
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [40]:
x=fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [42]:
x = fibonacci(10)
print('x=',x)
print(type(x))

x= [0, 1, 1, 2, 3, 5, 8]
<class 'list'>

### *여러 개 값  return
- 여러 개의 갑을 갖는 튜플로 return

In [43]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b,a #return (b,a)

In [49]:
# x,y=5,10
x=5; y=10
print('함수 실행 전 x,y =',x,y)
x,y=swap(x,y)
print(type(swap(x,y)))
print('함수 실행 후 x,y =',x,y)

함수 실행 전 x,y = 5 10
<class 'tuple'>
함수 실행 후 x,y = 10 5

# 3절 ★함수 매개변수★

## 3.1 기본값을 갖는 매개변수

In [50]:
def make_url(ip,port=80): #순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip,port)

In [53]:
print(make_url("localhost",8090))
print(make_url("www.naver.com"))
print(make_url(port=9090,ip="localhost"))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [54]:
#에러남 : 순서인수가 먼저 나오고 기본값을 갖는 인수가 나오지않고 반대로 되면 에러남.
# def make_url(port=80,ip):
#     return "http://{}:{}".format(ip,port)

SyntaxError: non-default argument follows default argument (2936105837.py, line 1)

In [56]:
def make_url(port=80,ip='localhost'):
    return "http://{}:{}".format(ip,port)

## 3.2 기본변수를 (기본값으로) 갖는 매개변수
- 기본변수가 스칼라변수(문자,숫자,논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [64]:
i=80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 싯점으로 기본값 셋팅
def make_url(ip,port=i):
    return "http://{}:{}".format(ip,port)

In [63]:
i=999999
make_url("localhost")

'http://localhost:80'

In [1]:
list_=[]
#기본변수가 리스트, 셋, 딕셔너리, 다른 기타 객체일 때: 함수가 실행되는 싯점으로 기본값 세팅
def func3(a,L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [2]:
print(func3(20))

[10, 20]

In [3]:
print("list_= ",list_)

list_=  [10, 20]

In [4]:
print(func3(50))

[10, 20, 50]

### *실행할 때마다 L을 공유하는게 싫으면

In [10]:
#실행할 때마다 L을 공유하는게 싫으면 
def func3(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10,[1,2,3]))

[10]
[10]
[10]
[1, 2, 3, 10]

In [7]:
print(func3(20))

[20]

## 3.3 순서인수,키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 <font size="6"  color="red">순서인수 > 키워드인수 순</font>으로 와야 함.

In [11]:
def func3(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

In [13]:
lst=[]
print(func3(10,lst))     #순서인수: 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst,a=20)) #키워드 인수 : 인수의 이름을 명시하여 전달하는 방식
# print(func3(L=lst,20)) 순서인수가 뒤에 올때 단순 값만 적으면 에러남

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변
- <font size="6"  color="red">파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음</font>

In [19]:
#파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a,b):
    return  a+b
def add(a,b,c):
    return a+b+c

In [17]:
파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음add(3,5,2)

10

In [18]:
add(3,5)

TypeError: add() missing 1 required positional argument: 'c'

### **<font size="3"  color="red">args앞에 * :  args가 튜플로 전달받는다.</font>

In [26]:
# args앞에 * :args가 튜플로 전달받는다.
def add(*args):
    #print('args=',args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum+=num # sum=sum+num
    return sum

In [30]:
print(add())
print(add(1))
print(add(1,3))
print(add(1,2,5,7,9,1))

0
1
4
25

In [31]:
subject=('Python','Html/CSS','JavaScript','DBMS')
'-'.join(subject)

'Python-Html/CSS-JavaScript-Oracle/MySQL'

###  **튜플 매개변수와 일반매개변수가 같이 있을 때

In [35]:
# 튜플 매개변수와 일반매개변수가 같이 있을 때
def concat(*subject,sep):
    return sep.join(subject)

In [84]:
concat('Python','Html/CSS','JavaScript','DBMS','-')
#에러

'Html/CSSPythonJavaScriptPythonDBMSPython-'

In [39]:
# 해결책1 :매개변수 이름ㅇ늘 지정해서 호출
concat('Python','Html/CSS','JavaScript','DBMS',sep='-')

'Python-Html/CSS-JavaScript-DBMS'

In [43]:
# 해결책2 : 기본값을 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '): #튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python','Html/CSS','JavaScript','DBMS'))
print(concat('Python','Html/CSS','JavaScript','DBMS',sep='-'))

Python ~ Html/CSS ~ JavaScript ~ DBMS
Python-Html/CSS-JavaScript-DBMS

In [44]:
print('python','web','js',sep='=')

python=web=js

### **<font size="3"  color="red">튜플 매개변수와 일반매개변수가 같이 있을 때 : sep을 순서인수로 앞으로 </font>

In [45]:
# 해결책3 (추천) : sep을 순서인수로 앞으로 
def concat(sep,*subject):
    return sep.join(subject)

In [46]:
concat('~','Python','Web','DB','MLDL')

'Python~Web~DB~MLDL'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [82]:
def func5(**args):
    print(args)
    print(type(args))
    if not 'address' in args: # args에 address 키가 없으면 if문 True
        # args['address']='서울시 관악구'
        # args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{} : {}".format(key,value))

In [83]:
func5(nam='홍길동',
      age=30,
      tel='010-9999-9999')

{'nam': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
nam : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

In [76]:
def func5(**args): # args : 딕셔너리로 전달받음
    print('이름 :',args.get('name','몰라'))
    print('나이 :',args.get('age',30))
    print('전화 :',args.get('tel','없음'))
    print('주소 :',args.get('address','서울 관악'))

In [77]:
func5(nam='홍길동',
      age=30,
      tel='010-9999-9999')

이름 : 몰라
나이 : 30
전화 : 010-9999-9999
주소 : 서울 관악

## 3.6 함수 정의 시 매개변수의 순서
- **순서: 순서인수 -> 튜플인수(*) -> 키워드인수(기본값) -> 딕셔너리인수(**)

In [87]:
# 순서인수 -> 튜플인수(*) -> 딕셔너리인수(**)
def func6(a,b,*c,**d):
    print('순서인수     a = ',a)
    print('순서인수     b = ',b)
    print('튜플인수     c = ',c)
    print('딕셔너리인수 d = ',d)

In [89]:
func6(10,20,1,2,3,4,5,6,7,8,9,'a','b',True,name='홍',age=30,address='신림')

순서인수     a =  10
순서인수     b =  20
튜플인수     c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', True)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

###  ** 예제)매개변수의 순서

In [100]:
# 순서인수 -> 튜플인수(*) -> 키워드인수(기본값) -> 딕셔너리인수(**)
def func7(a,b,c,*d,e=10,**f):
    print('순서인수               a = ',a)
    print('순서인수               b = ',b)
    print('순서인수               c = ',c)
    print('튜플인수               d = ',d)
    print('키워드인수(기본값 10)  e = ',e)
    print('딕셔너리인수           f = ',f)

In [101]:
func7(10,20,30,1,2,3,4,5,e=100,shape='rect',width=20, height=30)

순서인수               a =  10
순서인수               b =  20
순서인수               c =  30
튜플인수               d =  (1, 2, 3, 4, 5)
키워드인수(기본값 10)  e =  100
딕셔너리인수           f =  {'shape': 'rect', 'width': 20, 'height': 30}

In [102]:
func7(10,20,30)

순서인수               a =  10
순서인수               b =  20
순서인수               c =  30
튜플인수               d =  ()
키워드인수(기본값 10)  e =  10
딕셔너리인수           f =  {}

In [103]:
func7(10,20,30,e=100)

순서인수               a =  10
순서인수               b =  20
순서인수               c =  30
튜플인수               d =  ()
키워드인수(기본값 10)  e =  100
딕셔너리인수           f =  {}

## 3.7 인수의 언패킹

### 튜플인수 언패킹
- 언패킹  : 함수 호출 시 매개변수 앞에 *붙임
- 패킹    : 함수 정의시 매개변수 앞에 *붙임(튜플매개변수

In [111]:
def add(*args):
    sum = 0
    for num in args:
        sum+=num
    return sum

In [112]:
add(1,2,3)

6

In [113]:
numbers = (1,2,3)
add(*numbers)

6

In [109]:
# 참조
def add(*args):
    print(args)
add(1,2,3)
numbers=(1,2,3)
add(numbers)

(1, 2, 3)
((1, 2, 3),)

### 딕셔너리 인수 언패킹

In [115]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [116]:
func8(shape='rect',width=40,height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [118]:
info = {'shape':'rect','width':40,'height':30}
func8(info) #에러

TypeError: func8() takes 0 positional arguments but 1 was given

In [119]:
info = {'shape':'rect','width':40,'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식
- return 한 줄짜리 작은 익명함수

## 4.1 람다식 연습

In [2]:
def add(a,b):
    return a+b
print(add(3,5))
print(type(add))

8
<class 'function'>

In [3]:
add2 = lambda a,b : a+b
print(add2(3,5))
print(type(add2))

8
<class 'function'>

In [6]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요
def even_odd_chk(num):
    if num%2:
        result = "홀수"
    else:
        result = "짝수"
    return result
even_odd_chk(5),even_odd_chk(-4)

('홀수', '짝수')

In [10]:
def even_odd_chk(num):
    return "홀수" if num%2 else "짝수"
even_odd_chk1 = lambda num:"홀수" if num%2 else "짝수"
even_odd_chk(5),even_odd_chk1(-4)

('홀수', '짝수')

In [17]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보세요.
def diff(a,b):
    if a-b>0:
        result = a-b
    else:
        result = b-a
    return result
diff(3,5)

2

In [36]:
def diff(a,b):
    return a-b if a>b else b-a
diff(3,5)

2

In [21]:
diff = lambda a,b : a-b if a>b else b-a
diff(5,1), diff(1,5)

(4, 4)

In [24]:
# ex3. 매개변수를 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda balance : balance if balance>=0 else 'negative'
ex3(1000),ex3(-100)

(1000, 'negative')

In [31]:
# ex4. 점수를 입력받아 80점 이상은 'A팀' , 60점이상은 'B팀' , 60점 미만은 '재시험'
    # 100점 초과,0점미만은 '유효하지 않음'을 return
def levelChk(score):
    if 80<=score<=100:
        return 'A팀'
    elif 60<=score<80:
        return 'B팀'
    elif 0<=score<60:
        return '재시험'
    else:
        return '유효하지 않음'
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                     'B팀' if 60<=score<80 else \
                     '재시험'  if 0<=score<60 else \
                    '유효하지않음'
levelChk(8), ex4(160)

('재시험', '유효하지않음')

In [33]:
# 점수를 입력받아 학점을 return
score_grade = lambda score :   "A학점" if 90<=score<=100 else \
                                "B학점" if 80<=score<=90 else \
                                "C학점" if 70<=score<=80 else \
                                "D학점" if 60<=score<=70 else \
                                "F학점" if 0<=score<=60 else \
                                "유효하지 않는 점수"
score_grade(60),score_grade(120)

('D학점', '유효하지 않는 점수')

In [35]:
# ex5 safe_index함수를 람다식으로
def safe_index(lst,item,start=0):
    """
    첫번째 매개변수   lst: 리스트, 튜플
    두번째 매개변수  item: 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start: 몇번째 index부터 찾을지 index수(기본값:0)
    """
    return lst.index(item,start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item,start) #start번째부터 item이 있는 index를 반환
#     else:
#         return -1
ex5= lambda lst,item,start=0 : lst.index(item,start) if item in lst[start:] else -1
lst=[1,2,3]
safe_index(lst,4),ex5(lst,3,1)

(-1, 2)

In [37]:
# 람다식을 list에 들어갈 수 있음
add = lambda a,b : a+b
sub = lambda a,b : a-b
mul = lambda a,b : a*b
div = lambda a,b : a/b if b else '두번째 인자가 0이면 못나눠요'
operations = [add,sub,mul,div] # 사칙연산 함수들

def act_operations(a,b,operations=operations): # a,b의 연산 결과를 return
    result =[]
    for op in operations:
        result.append(op(a,b))
    return result

act_operations(20,5)

[25, 15, 100, 4.0]

In [40]:
act_operations(8,2,[lambda x,y:x**y, lambda x,y:10*x+y])

[64, 82]

In [42]:
(lambda x,y:10*x+y)(5,3)

53

In [44]:
print(len(operations))
operations.append(lambda x,y:x**y)
print(len(operations))

5
6

In [45]:
act_operations(8,2) # 기본값을 갖는 변수(기본변수)가 리스트면 기본값을 호출할 싯점

[10, 6, 16, 4.0, 64, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용

- 람다식을 사용하는 곳 : 함수의 매개변수 > return문

### (1) **map

In [50]:
def map_template(func,L=[]):
    result = []
    for item in L:
        result.append(item)
    return result

In [49]:
map_template(lambda a:a,[1,2,3])

[1, 2, 3]

In [52]:
def map_template(func,L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [53]:
list_data=[1,2,3,4,5,6,7,8,9]
def x_2(x):
    return x*2
map_template(x_2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [54]:
list_data=[1,2,3,4,5,6,7,8,9]
#def x_2(x):
#    return x*2
x_2=lambda x : x*2
map_template(x_2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [55]:
map_template(lambda x:x*2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
# 리스트 컴프리헨션
[item *2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
map(lambda x:x*2,list_data)
list(map(lambda x:x*2,list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [59]:
for data in map(lambda x:x*2,list_data):
    print(data,end=' ')

2 4 6 8 10 12 14 16 18

### **<font size="2"  color="red">중요예제 </font>

#### 예제1

In [68]:
'''
예제 1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
'''
prices = ['5,000','5000','6,000','1000','5,000','5000','6,000','1000']
def toint(value):
    return int(value.replace(',',''))
toint('5,000'),toint('1000')
prices_int = map(lambda value:int(value.replace(',','')),prices)
for price in prices_int:
    print(price,end = " ")

5000 5000 6000 1000 5000 5000 6000 1000

#### 예제2

In [ ]:
''' 예제 2. members1을 members2로 변환하세요.

members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
            {'name':'신길동', 'birth':'1995-12-18'},]를

members2 = [
{'name':'홍길동', 'year':2000, 'month':1,'day':1},
{'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
'''

In [69]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]
print(members1)

[{'name': '홍길동', 'birth': '2000-01-01'}, {'name': '신길동', 'birth': '1995-12-18'}]

In [81]:
# '2000-01-01' => {'year':2000, 'month':1,'day':1}
def split_date(date):
    split_date = date.split('-')
    return {
        'year': int(split_date[0]),
        'month':int(split_date[1]),
        'day':int(split_date[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [82]:
def split_date(date):
    return {
        'year': int(date.split('-')[0]),
        'month':int(date.split('-')[1]),
        'day':int(date.split('-')[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [83]:
# {'birth':'2025-01-01'} => {'year':2000, 'month':1,'day':1} 
def split_date(data):
    return {
        'year': int(data['birth'].split('-')[0]),
        'month':int(data['birth'].split('-')[1]),
        'day':int(data['birth'].split('-')[2])
    }
split_date({'birth':'2025-01-01'})

{'year': 2025, 'month': 1, 'day': 1}

In [87]:
# {'name':'홍길동', 'birth':'2000-01-01’} =>{'name':'홍길동', 'year':2000, 'month':1,'day':1}
def member_preprocessing(member):
    return{
        'name'  : member.get('name','이름없음'), #member['이름없음']
        'year'  : int(member.get('birth').split('-')[0]),
        'month' : int(member.get('birth').split('-')[1]),
        'day'   : int(member.get('birth').split('-')[2]),
    }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [90]:
members2=list(map(lambda member:{
                                'name'  : member.get('name','이름없음'), 
                                'year'  : int(member.get('birth').split('-')[0]),
                                'month' : int(member.get('birth').split('-')[1]),
                                'day'   : int(member.get('birth').split('-')[2]),
                                },members1
                 )
             )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

#### 예제3

In [92]:
'''
예제3. members2를 members1로 전환
'''
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

In [97]:
# {'year':2000, 'month':1,'day':1} => '2000-01-01'
# 1. 1자리일때 의도하지 않은 결과 나옴
def join_date(data):
    return "{}-{}-{}".format(data.get('year'),data.get('month'),data.get('day'))

print(join_date({'year':2000,'month':1,'day':1}))
print(join_date({'year':2000,'month':10,'day':11}))

2000-1-1
2000-10-11

In [101]:
# 2. {}-{:02}-{:02}
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'),data.get('month'),data.get('day'))

print(join_date({'year':2000,'month':1,'day':1}))
print(join_date({'year':2000,'month':10,'day':11}))

2000-01-01
2000-10-11

In [103]:
# 3. 
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(year=data.get('year'),
                                               month=data.get('month'),
                                               day=data.get('day')
                                              )

print(join_date({'year':2000,'month':1,'day':1}))
print(join_date({'year':2000,'month':10,'day':11}))

2000-01-01
2000-10-11

In [105]:
# 4
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

print(join_date({'year':2000,'month':1,'day':1}))
print(join_date({'year':2000,'month':10,'day':11}))

2000-01-01
2000-10-11

In [106]:
# {'year':2000, 'month':1,'day':1} => {'birth':'2000-01-01'}
def join_date(data):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}

print(join_date({'year':2000,'month':1,'day':1}))

{'birth': '2000-01-01'}

#### *중요..

In [109]:
# {'name':'hong','year':2000,'month':1,'day':1} => {'name':'hong','birth':'2025-01-01'}
def members_preprocessing(member): 
    return{
        'name':member.get('name'),
        "birth" : "{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'hong','year':2000,'month':1,'day':1})

{'name': 'hong', 'birth': '2000-01-01'}

#### 예제 3 답:<font size="2"  color="red">람다식 활용 </font>

In [112]:
#list(map(func,member2))
list(map(lambda member:{
         'name':member.get('name'),
          "birth" : "{year}-{month:02}-{day:02}".format(**member)
                        },members2
         )
     )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [115]:
def filter_template(func, L=[]):
    result=[]
    for item in L:
        if func(item):
            result.append(item)
    return result

In [116]:
list=[1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2!=0
      #  if value%2:
       #     return True
       # else:
      #      return False
        
filter_template(lambda value:value%2!=0,list_data)

[1, 3, 5, 7, 9]

In [118]:
# 리스트컴프리헨션
[value for value in list_data if value%2!=0]

[1, 3, 5, 7, 9]

#### 예제

In [1]:
# 예제
list_data=[1,2,3,4,5,6,7,8,9]
print(list(filter(lambda value: value % 2 != 0, list_data)))

[1, 3, 5, 7, 9]

In [2]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)
L=[1,1.2,1.5,3.0,10.5,100,-2.0,-12.2]
list(filter(lambda x:x%1==0,L))

[1, 3.0, 100, -2.0]

In [4]:
# 리스트컴프리헨션
[item for item in L if item%1==0]

[1, 3.0, 100, -2.0]

### (3) sort

In [10]:
p = [10,3,6,1]
p.sort()
print(p)
p.sort(reverse=True)
print(p)

[1, 3, 6, 10]
[10, 6, 3, 1]

#### 예제(데이터별)

#### 튜플리스트

In [11]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2,'two'),(1,'one'),(3,'there'),(4,'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'there'), (4, 'four')]

In [12]:
# 1번째 item을 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'there'), (2, 'two')]

In [14]:
# 1번째 item을 기준으로 오름차순 정렬
pairs.sort(key=lambda data:data[1],reverse=True)
pairs

[(2, 'two'), (3, 'there'), (1, 'one'), (4, 'four')]

#### 리스트

In [21]:
# 합이 큰 순으로 정렬
number_2d = [[9,9],[1,100],[10,200,2]]
number_2d.sort()
print(number_2d)
number_2d.sort(key=lambda items:sum(items),reverse=True)
print(number_2d)

[[1, 100], [9, 9], [10, 200, 2]]
[[10, 200, 2], [1, 100], [9, 9]]

#### 딕셔너리 (sort하면 에러남)

In [22]:
students = [{'name':'홍','score':'99'},
            {'name':'김','score':'50'},
            {'name':'박','score':'77'},
            {'score':'100'},
           ]
# students.sort()  딕셔너리 자체는 비교가 안되므로 sort하면 에러남.

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [24]:
name_select=lambda data : data.get('name','')
name_select({'name':'홍','score':99})

'홍'

In [31]:
# data['name']
# data.get('name','대체값')

In [29]:
# students 를 name순으로 정렬(ㄱㄴㄷ순)
students.sort(key =lambda data:data.get('name','힣'))
print(students)
students.sort(key =lambda data:data.get('name','가'))
print(students)

[{'name': '김', 'score': '50'}, {'name': '박', 'score': '77'}, {'name': '홍', 'score': '99'}, {'score': '100'}]
[{'score': '100'}, {'name': '김', 'score': '50'}, {'name': '박', 'score': '77'}, {'name': '홍', 'score': '99'}]

In [30]:
# students 를 score 큰 순으로 정렬
students.sort(key=lambda data:data.get('score',0),reverse=True)
students

[{'name': '홍', 'score': '99'},
 {'name': '박', 'score': '77'},
 {'name': '김', 'score': '50'},
 {'score': '100'}]

#### *<font size="2"  color="red">예제 종합 </font> :books정렬(no,title,price)

In [36]:
books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [37]:
books

[{'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [38]:
# books를 no 큰순으로 정렬 
books.sort(key=lambda book:book['no'])
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [39]:
# books를 title 큰순으로 정렬 
books.sort(key=lambda book:book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [45]:
# books를 price 큰순으로 정렬 
#1차 try
#books.sort(key=lambda book:book['price'])
#books
#2차 try
books.sort(key=lambda book:book.get('price',0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [61]:
#3차 try : 30200,'12,000' ,'5000' ,'ㅁ' ,None  => (변환) 30200,12000,0,0
def parse_int(price):
    if isinstance(price,str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
print(parse_int('12,000'),parse_int(30200),parse_int('ㅁ'),parse_int(None))

12000 30200 0 0

In [ ]:
# 아직 안됨=>변경해야함
# 먼저 price를 모두 str로 변경 => try : 30200,'12,000' ,'5000' ,'ㅁ' ,None  => (변환) 30200,12000,0,0
def parse_int(price):
    if  srt(price).replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
print(parse_int('12,000'),parse_int(30200),parse_int('ㅁ'),parse_int(None))

In [64]:
# 람다식으로 변경
parse_int=lambda price:\
                    int(price.replace(',','')) if isinstance(price,str) and price.replace(',','').isdigit() \
                    else price if isinstance(price,int) \
                    else 0
print(parse_int('12,000'),parse_int(30200),parse_int('ㅁ'),parse_int(None))

12000 30200 0 0

In [70]:
# {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200} => 30200
parse_int=lambda book:\
                    int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() \
                    else book.get('price') if isinstance(book.get('price'),int) \
                    else 0
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200})

30200

#### **원본과 카피본 따로 관리

In [73]:
# 원본과 카피본 따로 관리
copyBooks = books.copy() #  복제
#print(copyBooks)
copyBooks.sort(key=lambda book:\
                    int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() \
                    else book.get('price') if isinstance(book.get('price'),int) \
                    else 0,
              reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절 파이썬 내장 함수

- import 하지않고 바로 사용 가능한 함수
- 키워드(if,while,..)처럼 간주되므로, 식별자(변수명, 함수명,클래스명)로 사용하는 것을 피한다.

In [1]:
globals() #전역변수리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals() #전역변수리스트'],
 '_oh': {},
 '_dh': [WindowsPath('C:/ai/source/01_python')],
 'In': ['', 'globals() #전역변수리스트'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000023ADAFEF730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x23adafffee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x23adafffee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'globals() #전역변수리스트'}

In [2]:
all([True,True,True,False]) #모든 요소가 모두 True인지 여부

False

# 6절 연습문제

## 실습형

In [22]:
# 1. 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요

def get_max_min(data_list):
    if not data_list:
        print("리스트가 비어있습니다.")
        return None,None
    max_value=max(data_list)
    min_value=min(data_list)
    return max_value,min_value

data_list=[1,10,3,4,6]
max_result,min_result=get_max_min(data_list)
print("리스트{}의 최대값은{}이고, 최소값은 {}입니다".format(data_list,max_result,min_result))

#get_max_min= lambda 
get_max_min_lambda= lambda data_list:(max(data_list),min(data_list))
my_number = [1, 10, 3, 4, 6]
max_l, min_l = get_max_min_lambda(my_number)
print(f"람다 함수를 사용한 리스트{my_number}의 최대값은 {max_l}이고, 최소값은 {min_l}입니다.")

리스트[1, 10, 3, 4, 6]의 최대값은10이고, 최소값은 1입니다
람다 함수를 사용한 리스트[1, 10, 3, 4, 6]의 최대값은 10이고, 최소값은 1입니다.

In [31]:
#2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
#함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘
#마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
#•getBMI(kg, m):
#•BMI지수 = 체중(kg) / 신장(m)의 제곱
#•BMI<18.5 : 마른체형
#•18.5<=BMI<25 : 표준
#•25<=BMI<30 : 비만
#•BMI >=30 : 고도비만
#1 def으로
def getBMI(kg,m):
    if not isinstance(kg,(int,float)) or not isinstance(m,(int,float)):
        return "체중(kg)과 신장(m)은 숫자여야 합니다."
    if kg<=0 or m<=0:
        return "체중(kg)과 신장(m)은 0보다 커야 합니다."
    bmi=kg/(m**2)
    if bmi<18.5:
        status = '마른체형'
    elif 18.5<=BMI<25:
        status = '표준'
    elif 25<=BMI<30<25 :
        status = '비만'
    else: #bmi>=30 
        status = '고도비만'
    return status
print(f"체중 45kg, 신장 1.70m -> {getBMI(45, 1.70)}")     
getBMI_lambda=lambda kg,m:\
                '마른체형' if kg/(m**2)<18.5 else \
                ('표준' if 18.5<=kg/(m**2)<25 else \
                ('비만' if 25<=kg/(m**2)<30 else \
                '고도비만')) 
print(f"체중 80kg, 신장 1.70m -> {getBMI_lambda(80, 1.70)}")

체중 45kg, 신장 1.70m -> 마른체형
체중 80kg, 신장 1.70m -> 비만

In [6]:
# 3: 직각삼각형  w, h로 area, perimeter(넓이,둘레)
import math
def get_triangle(w,h):
    area = w*h*0.5
    # math.sqrt() : 제곱근
    perimeter = w + h +math.sqrt(w*w+h*h)
    #return area, perimeter
    return {'넓이': area,'둘레':perimeter}
get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [33]:
#4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
#•def mysum(fRom, end):
def mysum(fRom,end):
    sum=0
    for i in range(fRom,end+1):
        sum+=i
    return sum
print(f"1부터 10까지의 합: {mysum(1, 10)}")

sum_lambda=lambda fRom,end:sum(range(fRom,end+1))
print(f"람다 함수로 (-3)부터 3까지의 합: {sum_lambda(-3, 3)}")

1부터 10까지의 합: 55
람다 함수로 (-3)부터 3까지의 합: 0

In [41]:
#5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
#•예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 
#함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
#•def get_abbrs(lst):
def get_abbrs(lst):
    """
    문자열 리스트를 입력받아 각 문자열의 첫 세 글자로만 구성된
    새로운 리스트를 반환하는 함수입니다.
    """
    if not lst:
        return []
    list_=[]
    for item in lst:
        list_.append(item[:3])
    return list_

list_=['Seoul', 'Daegu', 'Kwangju', 'Jeju']
list_out=get_abbrs(list_)
print(f"입력된 리스트:{list_}는 {list_out}로 출력된다")

#lambda함수로 변환
get_abbrs_lambda=lambda lst:list(map(lambda a:a[:3],lst))
input_list2 = ['Apple', 'Banana', 'Cat']
output_list2 = get_abbrs_lambda(input_list2)
print(f"입력: {input_list2} -> 람다/map 결과: {output_list2}")

입력된 리스트:['Seoul', 'Daegu', 'Kwangju', 'Jeju']는 ['Seo', 'Dae', 'Kwa', 'Jej']로 출력된다
입력: ['Apple', 'Banana', 'Cat'] -> 람다/map 결과: ['App', 'Ban', 'Cat']

In [12]:
#6다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
def f(x,y):
    return x**y
print(f(2,3))
square = lambda x,y :x**y
square(3,4)

8

81

In [44]:
#7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과
# 리스트 컴프리헨션으로 구현하시오
ex=[1,2,3,4,5]
dub_L =list(map(lambda x:x**2,ex))
print(dub_L)
dub_l=[num**2 for num in ex]
print(dub_l)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [3]:
#8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
a=[1,2,3]
print(*a)
print(a)

1 2 3
[1, 2, 3]

In [5]:
# 9. 다음 코드의 실행 결과는?
date_info={'year':2024,'month':9,'day':6}
result='{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [2]:
#10. n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 reutrn하는
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.
def vector_size_check(*vector_var):
    print(vector_var)
vector_size_check([1,2],{10,20},{'name':'홍','age':30},(1,),{1,55},[33,44])

([1, 2], {10, 20}, {'name': '홍', 'age': 30}, (1,))

In [ ]:
#11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.
#(단 입력되는 벡터의 크기는 일정하지 않음)
# scalar_vector_product(5,[1,2,3,4])
#[5,10,15,20]

## 서술형